#Counter-tool{
    text-align: center;
}
#countLabel{
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button{
    padding: 10px 30px;
    color: white;
    background-color: rgb(101, 23, 23);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 9px;
    transition: background-color 2s;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(43, 10, 10);
}
/* Random number generator design */
#random-Number{
    text-align: center;

}

#myLabel{
    font-size: 3em;
}
#randomBtn{
    border-radius: 15px;
    padding: 20px 30px;
    background-color: rgb(128, 216, 128);
    transition: background-color 0.25s;
    cursor: pointer;
    font-size: large;
}
#randomBtn:hover{
    background-color: rgb(53, 169, 53);
}
